
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 20% 18%;
    --foreground: 210 40% 98%;

    --card: 222 20% 18%;
    --card-foreground: 210 40% 98%;

    --popover: 222 20% 18%;
    --popover-foreground: 210 40% 98%;

    --primary: 208 52% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 33% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 33% 18%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 213 27% 84%;
    
    --sidebar-background: 222 20% 18%;
    --sidebar-foreground: 240 5% 96%;
    --sidebar-primary: 208 52% 47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 240 5% 96%;
    --sidebar-border: 240 4% 16%;
    --sidebar-ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: #f0f0f0;
  }
}
